@{
    ViewData["Title"] = "Моя организация";
}

<h1>Моя организация</h1>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="#">Мои стажировки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Мои вакансии</a>
    </li>
</ul>