@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Название</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Раздел</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="pb-3">
    <div class="header">
        <div class="header-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span>Резюме на практику: @Model.MainStat.ResumePractic</span>
                        <br />
                        <span>Всего резюме: @Model.MainStat.AllResume</span>
                        <br />
                        <span>Вакансии на практику: @Model.MainStat.VacancyPractic</span>
                        <br />
                        <span>Вакансии всего: @Model.MainStat.AllVacancy</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-search-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-relative text-right">
                            <div class="small-logo" id="smallLogo"></div>
                            <div class="input-group" id="searchInputGroup">
                                <input type="text" class="form-control" id="searchLine" placeholder="Поиск..." aria-label="Партнёр, Договор, ИНН, ОРГН...">
                                <span class="input-group-append">
                                    <button class="btn btn-success search font-size-none" id="searchBtn" type="button"></button>
                                </span>
                            </div>
                            <div class="sub-search p-absolute d-none text-left" id="subSearchVariants">
                                <div class="loader p-absolute"></div>
                            </div>
                        </div>
                        <div class="text-right font-size-none">
                            <a class="btn btn-link btn-sm d-inline-block text-right" id="additionalSearchBtn" data-status="off" data-toggle="collapse" href="#additionalSearchFilters" aria-expanded="false" aria-controls="additionalSearchFilters">
                                Расширенный поиск
                            </a>
                        </div>
                        <div class="collapse" id="additionalSearchFilters">
                            <div class="card card-body">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputPeriodFrom" class="col-form-label">Период от</label>
                                            <input type="date" class="form-control" id="inputPeriodFrom">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPeriodTo" class="col-form-label">Период до</label>
                                            <input type="date" class="form-control" id="inputPeriodTo">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputSubdivision" class="col-form-label">Подразделение</label>
                                            <select id="inputSubdivision" class="form-control custom-select">
                                                <option selected>Выберите...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputPartner" class="col-form-label">Наименование партнера</label>
                                            <input type="text" class="form-control" id="inputPartner" placeholder="Партнер">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputContract" class="col-form-label">Номер договора</label>
                                            <input type="text" class="form-control" id="inputContract" placeholder="Договор">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputINN" class="col-form-label">ИНН</label>
                                            <input type="text" class="form-control" id="inputINN" placeholder="ИНН">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputOGRN" class="col-form-label">ОГРН</label>
                                            <input type="text" class="form-control" id="inputOGRN" placeholder="ОГРН">
                                        </div>
                                    </div>
                                    <br />
                                    <button type="submit" class="btn btn-success">Найти</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
</main>
