<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Unicall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная <span class="sr-only">(текущий)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Все вакансии</a>
            </li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                ООО "ТГК-2 Энергосбыт"
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                @Html.ActionLink("Профиль", "Index", "Organization", null, new { @class = "dropdown-item" })
                <a href="#" class="dropdown-item">Выйти</a>
            </div>
        </div>
    </div>
</nav>
