@{
    ViewData["Title"] = "Гавриловский Пётр Сергеевич";
}

<header>
    @await Html.PartialAsync("TopMenu")
</header>

<main role="main" class="pb-3 user-profile">

    <div class="container">
        <div class="row">
            <div class="col-4">

                <div class="user-profile-image">
                    <img src="~/images/learner.jpg" width="100%" alt="Alternate Text" />
                </div>

                <div class="divider block-with-margin-top">Образование</div>

                <div class="user-profile-education">
                    <table class="user-profile-contact-data">
                        <tr>
                            <td>
                                Северный (Арктический) федеральный университет имени М.В. Ломоносова
                                <p class="span-gray">Физик. Преподаватель, 2017 - н.в.</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="divider block-with-margin-top">Навыки</div>

                <div class="user-profile-skills">
                    <ul>
                        <li>Гуманизм</li>
                        <li>Современные методы образования</li>
                        <li>Знание основ психологии</li>
                        <li>Стрессоустойчивость</li>
                    </ul>
                </div>

            </div>

            <div class="col-8">
                <div class="user-name">
                    <h1>Гавриловский Пётр Сергеевич</h1>
                </div>

                <div class="user-data block-with-margin-top">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-analitics-tab" data-toggle="tab" href="#nav-analitics" role="tab" aria-controls="nav-home" aria-selected="true">Анализ</a>

                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Данные</a>
                            <a class="nav-item nav-link" id="nav-social-tab" data-toggle="tab" href="#nav-social" role="tab" aria-controls="nav-social" aria-selected="false">Социальные сети</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">История</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-analitics" role="tabpanel" aria-labelledby="nav-analitics-tab">

                            <table class="user-profile-contact-data">
                                <tr>
                                    <td width="200px">Общий рейтинг</td>
                                    <td>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200px">
                                        <a data-toggle="modal" data-target="#educationSkills">
                                            Успеваемость
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200px">
                                        <a data-toggle="modal" data-target="#educationSkills">
                                            Опыт работы
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200px">
                                        <a data-toggle="modal" data-target="#educationSkills">
                                            Социальные сети
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="200px">
                                        <a data-toggle="modal" data-target="#educationSkills">
                                            Компетенции
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="200px">
                                        <a data-toggle="modal" data-target="#educationSkills">
                                            Skill pasport
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </td>
                                </tr>

                            </table>


                        </div>
                        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="user-profile-contact-data">
                                <tr>
                                    <td width="200px">Адрес</td>
                                    <td>Россия, Архангельск, ул. Ломоносова 52</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>gavr@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td>+7(909)073 87 01</td>
                                </tr>
                                <tr>
                                    <td>Сайт</td>
                                    <td><a href="#">vk.com</a></td>
                                </tr>
                            </table>

                            <div class="divider">Общая информация</div>

                            <table class="user-profile-contact-data">
                                <tr>
                                    <td width="200px">Дата рождения</td>
                                    <td>20.10.1997</td>
                                </tr>
                                <tr>
                                    <td>Пол</td>
                                    <td>мужской</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                        </div>

                        <div class="tab-pane fade" id="nav-social" role="tabpanel" aria-labelledby="nav-social-tab">
                            <table class="user-profile-contact-data">
                                <tr>
                                    <td><i class="fab fa-vk"></i></td>
                                    <td><a href="#">VK</a></td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-twitter"></i></td>
                                    <td><a href="#">Twitter</a></td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-facebook"></i></td>
                                    <td><a href="#">Facebook</a></td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-instagram"></i></td>
                                    <td><a href="#">Instagram</a></td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</main>


<!-- Modal -->
<div class="modal fade" id="educationSkills" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Успеваемость</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="user-data block-with-margin-top">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-1course-tab" data-toggle="tab" href="#nav-1course" role="tab" aria-controls="nav-1course" aria-selected="true">1 курс</a>
                            <a class="nav-item nav-link" id="nav-2course-tab" data-toggle="tab" href="#nav-2course" role="tab" aria-controls="nav-2course" aria-selected="true">2 курс</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-1course" role="tabpanel" aria-labelledby="nav-1course-tab">

                            <table class="user-profile-contact-data">
                                <tr>
                                    <td width="300px">Математический анализ</td>
                                    <td>
                                        4
                                    </td>
                                </tr>
                                <tr>
                                    <td>Аналитическая геометрия</td>
                                    <td>
                                        3
                                    </td>
                                </tr>
                                <tr>
                                    <td>Алгебра</td>
                                    <td>
                                        3
                                    </td>
                                </tr>
                                <tr>
                                    <td>Механика</td>
                                    <td>
                                        5
                                    </td>
                                </tr>

                            </table>


                        </div>
                        <div class="tab-pane fade " id="nav-2course" role="tabpanel" aria-labelledby="nav-2course-tab">
                            <table class="user-profile-contact-data">
                                <tr>
                                    <td width="300px">Математический анализ</td>
                                    <td>
                                        5
                                    </td>
                                </tr>
                                <tr>
                                    <td>МКТ</td>
                                    <td>
                                        4
                                    </td>
                                </tr>
                                <tr>
                                    <td>Электродинамика</td>
                                    <td>
                                        4
                                    </td>
                                </tr>
                                <tr>
                                    <td>Векторный анализ</td>
                                    <td>
                                        5
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>