@{
    ViewData["Title"] = "Гавриловский Пётр Сергеевич";
}

<div class="container">
    <div class="row">
        <div class="col-4">

            <div class="user-profile-image">
                <img src="~/images/learner.jpg" width="100%" alt="Alternate Text" />
            </div>

            <div class="user-profile-location">

            </div>

            <div class="user-profile-skills">

            </div>

        </div>

        <div class="col-8">
            <div class="user-name">
                <h1>Гавриловский Пётр Сергеевич</h1>
            </div>

            <div class="user-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>

            <div class="user-data">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Мои данные</a>
                        <a class="nav-item nav-link" id="nav-social-tab" data-toggle="tab" href="#nav-social" role="tab" aria-controls="nav-social" aria-selected="false">Социальные сети</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">История</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="user-profile-contact-data">
                            <tr>
                                <td>Населённый пункт</td>
                                <td>Архангельск</td>
                                <td><a href="#">Изменить</a></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>gavr@gmail.com</td>
                                <td><a href="#">Изменить</a></td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>+79090738701</td>
                                <td><a href="#">Изменить</a></td>
                            </tr>
                            <tr>
                                <td>Сайт</td>
                                <td><a href="#">vk.com</a></td>
                                <td><a href="#">Изменить</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    </div>

                    <div class="tab-pane fade" id="nav-social" role="tabpanel" aria-labelledby="nav-social-tab">
                        <table>
                            <tr>
                                <td><i class="fab fa-vk"></i></td>
                                <td>VK</td>
                                <td><a href="#">Привязать</a></td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-twitter"></i></td>
                                <td>Twitter</td>
                                <td><a href="#">Привязать</a></td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-facebook"></i></td>
                                <td>Facebook</td>
                                <td><a href="#">Привязать</a></td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-instagram"></i></td>
                                <td>Instagram</td>
                                <td><a href="#">Привязать</a></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>


        </div>
    </div>
